name: Node.js CI

on: pull_request:
      branches: [master]

jobs:
  unit-test:
    runs-on: ubuntu-latest

    steps:
    - name: Setup Checkouts
      uses: actions/checkout@v2
    - name: Setup Node.js 12
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Install
      run: npm install 
    - name: Build
      run: npm run build --if-present
    - name: Test
      run: npm test
      env:
        CI: true